{
  "Theme": "Cyan",
  "DebugServerSetting": {
    "UseDDC": true,
    "EnableTRST": false,
    "ICECLk": 12000,
    "DelayMTCR": 10
  },
  "FlashProgramSession": {
    "CommandType": 1,
    "TargetConfig": {
      "AlgorithmFile": "",
      "EraseType": 0,
      "EraseRangStart": 0,
      "EraseRangLength": 4096,
      "ConnectType": 0,
      "Timeout": 20,
      "ResetAndRun": false,
      "ResetType": 0,
      "ResetValue": 0,
      "RunMode": false
    },
    "TargetFile": {
      "DumpFileType": 0,
      "DumpBinFileInfo": {
        "FilePath": "",
        "StartAddress": 0,
        "Length": 4096
      },
      "DumpHexFileInfo": {
        "FilePath": "",
        "StartAddress": 0,
        "Length": 4096
      }
    },
    "TargetObjectArray": [
      {
        "Type": 1,
        "Verify": false,
        "FilePath": "",
        "Program": false
      }
    ]
  }
}